* {
    top: 0;
    left: 0;
}
body {
    background: linear-gradient(to top, #0e1c26, #294861);
}
.users-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.users-content .box {
    background: linear-gradient(135deg, #0968e5, #091970);
    width: 80%;
    height: auto;
    margin: 100px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.users-content .box h1 {
    padding: 50px;
}
.users-content .box .list {
    width: 80%;
    border-radius: 5px;
    background: linear-gradient(135deg, #000328 , #00458e);
    opacity: 1;
}

.users-content .box .list:hover {
    background: linear-gradient(135deg, #00458e, #000328);
    opacity: .9;
    cursor: pointer;
}

.users-content .box .list .content {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-content .box .list .content .id {
    color: white;
    margin-right: 30px;
}
.users-content .box .list .content .name {
    color: white
}

.users-content .box h1 {
    color: white;
}

.users-content .box .button {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(135deg, #000328 , #00458e);
    opacity: 1;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.users-content .box .button:hover {
    background: linear-gradient(135deg, #00458e, #000328);
    opacity: .9;
    cursor: pointer;
}

/*modal styles*/
.section-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.section-modal .content-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-modal .content-modal .modal {

    width: 80%;
    height: 80%;
    background: transparent;
    opacity: .8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-modal .content-modal .modal .data {
    width: 90%;
    height: 90%;
    background: gray;
}
.users-content .box h1 {
    color: white;
}


.section-modal .content-modal .modal .data-format {
    font-size: 20px;
    margin-right: 100px;
    color: white;
}
.section-modal .content-modal .modal .subdata-format {
    color: white;
}

.section-modal .content-modal .modal .wrapper {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    background: linear-gradient(135deg, #000328 , #00458e);
  }

  .section-modal .content-modal .modal .wrapper div p {
    color: white;
  }

.section-modal .content-modal .modal .button-close {
    width: 200px;
    height: 70px;
    border-radius: 5px;
    background: blue;
    
    color: white;
    font-size: 20px;
    margin: 20px;
}
